
* {
    border: 1px solid red !important;
}


body{
    background-color: rgba(153, 231, 248, 0.8);
}

.grid {
    
    height: 500px;
    width: 1100px;
    display: grid;
    grid-template-rows: 6;
    grid-template-columns: 4;
    grid-gap: 1px;
    
}
.title {
        grid-row: 1;
        grid-column: 1;
        font-weight: bold;
        font-size: 20px;
        width: 170px;
        height: 30px;
        margin: 4px 1px 2px 3px;
        text-align: center;
        padding-top: 8px;
        row-gap: 1px;
}